<div class="d-flex justify-content-center mt-5">


    <button (click)="createAnnouncement()" pButton icon="pi pi-bell" type="button" label="Create Announcement" class="p-button-outline p-button-sm p-button-danger">
    </button>

        
</div>
<div class="d-flex justify-content-center mt-5">

    <button (click)="showBugList()" pButton icon="pi pi-list" type="button" label="Show Bug List" class="p-button-outline p-button-sm p-button-primary mr-2">
        </button>
</div>
        
<div class="d-flex justify-content-center mt-5">
    <button (click)="showFeedbackList()" pButton icon="pi pi-list" type="button" label="Show Feedbacks" class="p-button-outline p-button-sm p-button-warning">
    </button>
</div>