<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding:5px;">
  <i class="bi bi-telegram" style="color:white; padding: 5px;"></i>
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Airbus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" joyrideStep="1"  [stepContent]="customContent" >
        <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop <span class="sr-only">(current)</span></a>
      </li>
      <ng-template #customContent>
        You can click here to navigate to Shopping Page
    </ng-template>
      <li class="nav-item"  joyrideStep="2"  [stepContent]="customContent2">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <ng-template #customContent2>
        You can click here to know more about Airbus
    </ng-template>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"  joyrideStep="3"  [stepContent]="customContent3">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin Console</a>
        </li>
        <ng-template #customContent3>
          You can click here to visit Admin Console(Only for Admins)
      </ng-template>
    </ul>
  </div>
</nav>